<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Secretária</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/dist/css/sign-in.css" rel="stylesheet">
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">

    <!-- Mensagem de erro -->
    <div th:if="${erro}" class="alert alert-danger text-center" role="alert" th:text="${erro}"></div>

    <form th:action="@{/secretaria/login}" method="post">
        <img class="mb-4" src="/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal text-center">Login da Secretária</h1>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuário">
            <label for="usuario">Usuário</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
            <label for="senha">Senha</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Entrar</button>

        <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2017–2024</p>
    </form>
</main>
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
